---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Hero from "@components/Hero.astro";
import Projects from "@components/Projects.astro";
---

<Layout title="Olexiy Melnychuk | Front-end Developer">
  <Header />
  <main>
    <Hero />
    <Projects />
  </main>
  <Footer />
</Layout>
