---

---

<form action="" class="w-full flex flex-col gap-6">
  <div class="w-full flex flex-col md:flex-row gap-5">
    <input
      type="text"
      name="name"
      placeholder="First name..."
      class="h-16 w-full px-8 border-transparent bg-white rounded"
    />
    <input
      type="text"
      name="surname"
      placeholder="Last name..."
      class="h-16 w-full px-8 border-transparent bg-white rounded"
    />
  </div>
  <input
    type="tel"
    name="phone"
    placeholder="Phone number..."
    class="h-16 w-full px-8 border-transparent bg-white rounded"
  />
  <input
    type="email"
    name="email"
    placeholder="Email..."
    class="h-16 w-full px-8 border-transparent bg-white rounded"
  />

  <textarea
    name="message"
    placeholder="Message..."
    class="h-96 w-full px-8 pt-4 border-transparent bg-white rounded resize-y"
  ></textarea>

  <div class="inline-flex gap-5 justify-start">
    <button
      type="submit"
      class="h-16 px-8 w-96 uppercase border-transparent border-2 font-bold text-md inline-block text-center bg-indigo transition-colors hover:border-indigo hover:text-indigo hover:bg-transparent text-white rounded"
      >Send Message</button
    >
    <a
      href="/frontend-olexiy-melnychuk-cv.pdf"
      class="uppercase inline-block rounded-main text-center font-bold py-4 xl:px-12 lg:px-10 px-8 text-md transition-colors w-96 bg-transparent underline hover:no-underline text-dark leading-7"
      download="/frontend-olexiy-melnychuk-cv.pdf"
      aria-label="Download CV"
    >
      Download CV</a
    >
  </div>
</form>
