---
import Logo from "@components/Logo.astro";
---

<footer class="bg-dark text-white py-6">
  <div
    class="container max-w-desktop flex flex-col md:flex-row justify-normal items-center"
  >
    <Logo color="white" />
    <p class="text-center text-lg py-9 grow-0 md:grow">
      {
        `Copyright © ${new Date().getFullYear()}  Made with love by Olexiy Melnychuk. All rights reserved.`
      }
    </p>
  </div>
</footer>
