---
import Logo from "@components/Logo.astro";
import Navbar from "@components/Navbar.astro";
import ThemeButton from "@components/ThemeButton.astro";
---

<header class="text-lg bg-white-smoke text-dark py-9">
  <div class="container max-w-desktop flex justify-between items-center">
    <Logo color="black" />
    <Navbar />
    <ThemeButton />
  </div>
</header>
