---
import { Image } from "astro:assets";
import HeroImage from "../images/hero.jpg";
---

<section class="relative h-[631px] flex justify-normal">
  <div class="absolute top-0 left-0 z-20 w-full h-full text-white-smoke">
    <div
      class="container max-w-desktop h-full flex flex-col justify-center items-center"
    >
      <h1 class="font-bold text-3xl leading-heading mb-16 text-center">
        Hello, I’m <span class="text-bittersweet">Olexiy Melnychuk</span>,<br
        />Your
        <span class="text-bittersweet">Passionate</span> Front-end Developer<span
          class="text-bittersweet">.</span
        >
      </h1>
      <p class="text-xl leading-none mb-16">
        Help creating intuitive and dynamic user experiences for the web.
      </p>
      <a
        href="/frontend-olexiy-melnychuk-cv.pdf"
        class="uppercase inline-block rounded-main font-bold py-4 px-12 bg-bittersweet text-white text-center leading-7"
        download
        aria-label="Olexiy Melnychuk CV"
      >
        Download CV</a
      >
    </div>
  </div>
  <div
    class="relative h-full w-full after:content-[''] after:w-full after:h-full after:absolute after:inset-0 after:z-10 after:bg-dark/60"
  >
    <Image
      src={HeroImage}
      class="bg-center object-cover min-h-full bg-dark"
      sizes=`(min-width: 769px) 100vw, (max-width: 768px)  40vw`
      quality={75}
      alt="Hero"
      fetchpriority="high"
    />
  </div>
</section>
