---
import { Image } from "astro:assets";
import HeroImage from "../images/hero.jpg";
---

<section class="relative h-[631px] flex justify-normal" id="hero-section">
  <div class="absolute top-0 left-0 z-20 w-full h-full text-white-smoke">
    <div
      class="container max-w-desktop h-full flex flex-col text-center justify-center items-center"
    >
      <h1
        class="font-bold xl:text-3xl md:text-2xl text-xl leading-heading mb-16 text-center"
      >
        Hello, I’m <span class="text-bittersweet">Olexiy Melnychuk</span>,<br
        />Your
        <span class="text-bittersweet">Passionate</span> Front-end Developer<span
          class="text-bittersweet">.</span
        >
      </h1>
      <p class="xl:text-xl md:text-md leading-none mb-16">
        Help creating intuitive and dynamic user experiences for the web.
      </p>
      <a
        href="/frontend-olexiy-melnychuk-cv.pdf"
        class="uppercase inline-block rounded-main font-bold py-4 xl:px-12 lg:px-10 px-8 text-md transition-colors hover:text-white hover:bg-bittersweet bg-white text-dark leading-7"
        download="/frontend-olexiy-melnychuk-cv.pdf"
        aria-label="Download CV"
      >
        Download CV</a
      >
    </div>
  </div>
  <div
    class="relative h-full w-full after:content-[''] after:w-full after:h-full after:absolute after:inset-0 after:z-10 after:bg-dark/70"
  >
    <Image
      src={HeroImage}
      widths={[1920, 992, 768, 375]}
      class="bg-center object-cover h-full min-w-full bg-dark"
      sizes=`(max-width: 1920px) 1920px, (max-width: 992px) 992px, (max-width: 768px) 768px, (max-width: 375px) 375px, 100vw`
      quality={55}
      alt="Hero"
      fetchpriority="high"
    />
  </div>
</section>
