---
import LogoIcon from "@components/LogoIcon.astro";
type LogoColor = "black" | "white";
const { color = "black" } = Astro.props as { color: LogoColor };
---

<a href="/" aria-label="Portfolio">
  <LogoIcon className="h-14 max-w-full relative z-50" color={color} />
</a>
