---

---

<nav class="px-8 font-bold">
  <ul class="flex justify-normal lg:gap-20">
    <li>
      <a href="/" class="transition-colors hover:text-orange">Home</a>
    </li>
    <li>
      <a href="#projects" class="transition-colors hover:text-orange"
        >Projects</a
      >
    </li>
    <li>
      <a href="#skills" class="transition-colors hover:text-orange">Skills</a>
    </li>
    <li>
      <a href="#contact" class="transition-colors hover:text-orange">Contact</a>
    </li>
  </ul>
</nav>
